# Ignore built site output
_site

# Ignore Sass cache
.sass-cache

# Ignore Jekyll cache
.jekyll-cache

# Ignore Jekyll metadata
.jekyll-metadata

# Ignore vendor dependencies
vendor

# Ignore environment variable files
.env

# Ignore bot files
/bot/
/bot-js/

# Temp files
/_laws/
.DS_Store

# Ignore user files
/user/
/user-js/

# Ignore git shortcuts
commit.command
push.command
